*{
    margin: 0%;
    padding: 0%;
}

body {
     flex-direction: column;
     box-sizing: border-box;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     height: auto;
     width: auto;
     background: linear-gradient(to right,black,darkblue,lightgreen,maroon,black);
  }
  .container{
    margin: 0 auto;
    margin-top: 20px;
    border: 6px solid rgba(139, 0, 120, 0.623);
    box-shadow: 0px 2px 20px lightsalmon;
    background-color: rgba(0, 0, 139, 0.329);
    padding: 20px;
    width: 320px;
    height: auto;
    border-radius: 40px;
  }

  p strong{
    color: white;
    text-shadow: 2px 2px 4px gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  h1 {
      color: white;
      text-shadow: 2px 2px 4px gold;
      background: rgba(0, 0, 0, 0.568);
      padding: 5px 10px;
      width: 300px;
      border-radius: 100%;
      margin-top: 10px;
      margin: 0 auto;
  }
  h1 ion-icon{
    color: rgba(255, 217, 0, 0.856);
    background-image: url(lollipop_3GIF.gif);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 50px;
  }
  h2{
    margin: 0 auto;
    margin-top: 10px;
    color: darkgray;
    text-shadow: 2px 2px 4px darkblue;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 0px 10px;
    border-radius: 100%;
    font-size: 15px;
    width: 150px;
   
  }
  h2 ion-icon{
    color: rgba(255, 217, 0, 0.856);
  }
  #controls {
    display: flex;
    margin-top: 2rem;
    max-width: 28em;
    background-color: transparent;
  } 
  #recordButton,
  #pauseButton,
  #stopButton{
    font-weight: bold;
    font-size: 1rem;
    height: 3rem;
    width: 10rem;
    border: 2px solid rgba(255, 217, 0, 0.507);
    border-radius: 20px;
    background: darkblue;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    margin: 0 auto;
    margin: 5px;  
        }
  #stopButton{
    background: darkred;
    box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
    color: white;
  }
  #stopButton:hover{
    background-color: red;
  }
  #recordButton{
    background-color: darkgreen;
  }
  #recordButton:hover{
    background-color: rgb(13, 233, 13);
  }
  #pauseButton:active{
    background-color: rgb(71, 71, 250);
  }
  
  audio {
    margin-top: 20px;
    display: block;
    width: 100%;
    margin-top: 0.2rem;
    color: white;
    border: 4px solid rgba(179, 3, 185, 0.507);
    box-shadow: 0px 2px 10px lightsalmon;
    border-radius: 40px;
  }
  li {
    color: white;
    text-shadow: 2px 2px 2px darkblue;
    list-style: none;
   
  }
  
  #formats {
    color: white;
    text-shadow: 2px 2px 2px darkblue;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 80%;
  }
  
  #recordingsList{
      margin-top: 20px;
      margin-bottom: 10px;
      max-width: 28em;
  }
    .homebtn{
    padding: none;
    background-image: url(MusicGig.gif);
    background-position: center;
    background-size: 70%;
    border: none;
    width: 80px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px lightsalmon;
    cursor: pointer;
    margin: 0 auto;
    border-bottom: 2px solid rgba(255, 217, 0, 0.795);
  }
  .homebtn:hover{
    box-shadow: 0px 2px 20px gold;
   }
   .homebtn ion-icon{
    color: rgba(255, 217, 0, 0.479);
    font-size: 25px;
   }
   .homebtn ion-icon:hover{
    color: gold;
   }
   